.body{
    overflow-x:hidden;
}
#navbar{
flex-direction:column;
align-self:center;
justify-content:center;
position:sticky;
top:0px;
}
#logo{
    align-self:flex-start;
}
#navbar ul li a{
    font-size:11px;
}
#head{
    flex-direction:column;
}

#head #ul2 li a{
    /* flex-direction:column; */
    font-size:16px;
}
#head::before{
    content:"";
    background:url(https://images7.alphacoders.com/107/1075657.jpg)no-repeat center center/cover;
    position:absolute;
    top:0px;
    height:95vh;
    width:100vw;
    flex-wrap:wrap;
    z-index:-1;
    opacity:0.9;
    box-shadow: inset 0px  -80px 40px black;
}
#news{
    flex-direction:column;
    overflow:hidden;
}
#news .box{
    padding:10px 0px;
}
#news .box img{
    height:300px;
    width:400px;
    display:block;
    margin:auto;
}
.h-p{
    font-size:1rem;
}
.h-primary{
    font-size:1.8rem;
    margin:-6px 0px;
}
.h-secondary{
    font-size:1.5rem;
}
.center{
    text-align:center;
    padding:4px;
}
#footer p{
    position: relative;
    top:0px;
    font-size:0.87rem;
}